body {
  margin: 0;
  padding: 0;
  background-color: #7f8487;
}
form {
  margin-bottom: 30px;
}

.main-container {
  margin-top: 50px;
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.main-btn {
  background-color: #007bff;
  border-color: #007bff;
}

.main-btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.main-form-label {
  font-weight: bold;
}

.main-form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main-form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
